{% extends "base.html" %}

{% block content %}
<h2>{{ subtitle }}</h2>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td>{{ item.id }}</td>
            <td><img 
                src="/resources/images/{{ item.image_path }}" 
                alt="No Image" 
                width="100" 
                onerror="this.onerror=null; this.src='/static/no_image.png'">
            </td>
            <td>{{ item.name }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.quantity }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<ul>
    <li><a href="/">Return Home</a></li>
</ul>
{% endblock %}